<div class="row">
  <div class="small-12 medium-6 medium-offset-3 text-center">
    <h1>Sélectionnez un Silo</h1>
      <hr/>
    <% @comptes.each do |c| %>
            <h3><a href="<%= edit_compte_path(c.id) %>"><%= c.titre_espace %></a></h3>
            <hr/>
    <% end %>
  </div>
</div>