<div class="row">
  <div class="small-12 medium-6 medium-offset-3 text-center">
    <h1>Ajouter un Silo</h1>

    <%= render 'form', compte: @compte %>

    <%= link_to 'Retour', root_path %>
  </div>
</div>