// SCSS Style for SILO

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,100i,700');

// VARIABLES

$col1: #FF5B2B;
$col2: #B1221C;
$col3: #34393E;
$col4: #8CC6D7;
$col5: #FFDA8C;
$gris_pale: #F2F2F2;
$vert_silo: #7ED321;
$blanc: #FFFFFF;

.row {
	max-width: 100%;
}

// GENERAL

body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header{
	text-align: center;
  .top-bar {
    background: $col3;
    height: 70px;
    color: $col1;
    .form {
      background: lighten($col3, 0.8);
      box-shadow: 0px 1px 0px 0px $col4;
      font-size: 12px;
    }
  }
}

.top-logo {
	filter: grayscale(100%);
}
.top-logo:hover {
	filter: grayscale(0%);
}

.bandeau {
	text-align: center;
	width: 100%;
	background: $gris_pale;
	// url(/img/bandeau_music.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 50px 40px 50px;
}

.main_desk {
			display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    max-width: 1400px;
	    margin-left: auto;
	    margin-right: auto;
}

footer{
	text-align: center;
	margin-top:auto;
  background: $col3;
  height: 120px;
	padding: 30px 0 30px 0;
	p, a {
		color: $blanc;
	}
}

.row_desk1 {
	height: 30%;
}

.row_desk2 {
	height: 20%;
}

.box{
    display: flex;
    height: 180px;
    min-width: 250px;
    margin: 20px;
    /*padding: 15px;*/
    border-radius: 5px;
    -webkit-box-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex:1 0 auto;
		a {
			color: $blanc;
		}
}

.enfant{
margin: auto;
}

.box:first-of-type,
.box:nth-of-type(7),
.box:nth-of-type(11){
    background-color: #4675ff;
}

.box:nth-of-type(2),
.box:nth-of-type(8){
    background: orange;
}

.box:nth-of-type(3),
.box:nth-of-type(9){
    background: hotpink;
}
.box:nth-of-type(4),
.box:nth-of-type(10){
    background: olivedrab;
}

.box:nth-of-type(5),
.box:nth-of-type(11){
    background: #fff14f;
}
.box:nth-of-type(6),
.box:nth-of-type(12){
    background: #ff1130;
}


h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: green;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
	text-align: center;
}

p {
	font-weight: 300;
}

// -------- Préférences et Config Admin ------------

@mixin col {
	width: 20px;
	height: 20px;
	display: inline-block;
}

.col_config_1 {
	.col1 { @include col; background-color: $col1; }
	.col2 { @include col; background-color: $col2; }
	.col3 { @include col; background-color: $col3; }
	.col4 { @include col; background-color: $col4; }
	.col5 { @include col; background-color: $col5; }
}
.col_config_2 {
	.col1 { @include col; background-color: #FFF200; }
	.col2 { @include col; background-color: #E8860C; }
	.col3 { @include col; background-color: #FF0000; }
	.col4 { @include col; background-color: #780CE8; }
	.col5 { @include col; background-color: #0D8AFF; }
}
