// SCSS Style for SILO

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,100i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Baloo|Bree+Serif');

// VARIABLES

$col1: #FF5B2B;
$col2: #B1221C;
$col3: #34393E;
$col4: #8CC6D7;
$col5: #FFDA8C;
$gris_pale: #F2F2F2;
$vert_silo: #7ED321;
$blanc: #FFFFFF;
$switch-background-active: #3adb76;
$tab-background: $gris_pale;
$tab-color: #000000;
$tab-background-active: $col3;
$tab-content-background: $col3;
$tab-content-border: none;
$tab-active-color: $blanc;
$tab-content-color: $blanc;
$tab-item-font-size: 18px;

$primary-color: $col3;

$progress-height: 1.7em;

h4 { font-size: 20px; }

#offCanvas_r {
	label { color:#000; }
}

.row {
	max-width: 100%;
}

// GENERAL

a {
	color: $col3;
}
a:hover {
	opacity: 0.5;
}

table {
	tbody {
		background: none;
		border: none;
		tr {
			border: none;
			td {
				border: none;
			}
		}
	}
}

tbody tr:nth-child(even) {
	background: none;
}

[type='radio'] {
	margin-right: 10px;
	padding-bottom: 10px;
}

.callout {
	text-align: center;
	width: 50%;
	margin: auto;
	margin-top: 7px;
	margin-bottom: 7px;
}

.success.button.tiny, .success.button.small {
	color: $blanc;
}

.vertical-center {
	margin: auto;
	vertical-align: middle;
}

body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header{
	text-align: center;
  .top-bar {
    background: $col3;
    height: 70px;
    color: $col1;
    .form {
      background: lighten($col3, 0.8);
      box-shadow: 0px 1px 0px 0px $col4;
      font-size: 12px;
    }
		h1 {
			padding-top: 5px;
			color: $blanc;
			font-size: 1.7em;
			text-align: left;
		}
		h1:hover {
			opacity: 0.5;
		}
		i{
			color: $blanc;
		}
  }
}
.noverflow {
	overflow: hidden;
}

.mobile_only {
	display: none;
}

.top-logo, .config-logo {
	filter: grayscale(100%);
}
.top-logo:hover, .config-logo:hover {
	filter: grayscale(0%);
}

.bandeau {
	text-align: center;
	width: 100%;
	background: $gris_pale;
	// url(/img/bandeau_music.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 50px 40px 50px;
}

#bandeau {
	max-height: 200px;
	width: 100%;
	overflow: hidden;
}

.main_desk {
			display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    max-width: 1400px;
	    margin-left: auto;
	    margin-right: auto;
}

footer{
	text-align: center;
	margin-top:auto;
  background: $col3;
  height: 120px;
	padding: 30px 0 30px 0;
	p, a {
		color: $blanc;
	}
}

.row_desk1 {
	height: 30%;
}

.row_desk2 {
	height: 20%;
}

@mixin box {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 180px;
	min-width: 250px;
	margin: 20px;
	/*padding: 15px;*/
	border-radius: 5px;
	-webkit-box-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex:1 0 auto;
	a {
		color: $blanc;
		font-size: 2em;
		font-weight: 700;
	}
}

.box{
	@include box;
}
.box_add{
	@include box;
	margin: auto;
	background-color: $gris_pale;
	i {
		font-size: 3em;
	}
}

// .enfant a {
// 	padding: 2em;
// }
// .enfant a:focus {
// }

.draw_add {
	text-align: center;
	padding: 15px 0 15px 0;
	i {
		font-size: 3em;
	}
}

.enfant{
	text-align: center;
	margin: auto;
	a {
		padding: 1em 0 1em 0;
	}
}

.box_buttons {
	i {
		padding: 0 20px 0 20px;
		font-size: 0.7em;
		color: $blanc;
	}
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: green;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
	text-align: center;
}

p {
	font-weight: 300;
}

// -------- Préférences et Config Admin ------------

.col {
	width: 20px;
	height: 20px;
	display: inline-block;
}

.col_config {
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
	margin: auto;
}

.check-palette, .div-palette {
	display: inline-block;
	margin: auto;
	vertical-align: middle;
}
.check-palette {
	padding-top: 5px;
}

.layout_config {
	padding-bottom: 10px;
}

// ------------------  DRAW -------------------

#content_onglet {
	display: block;
}

#breadcrumb {
	background: $col4;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	a, h4 {
		color: $blanc;
	}
}

.bread_home {
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: $blanc;
}

.bread_home h4 {
	text-align: right;
	margin-right: 30px;
	margin-top: 8px;
}

.bread_title h4 {
	text-align: center;
	margin-top: 11px;
}

div .edition {
	position: relative;
	float: right;
	display: none;
	background: none;
	padding-bottom: 5px;
	top: -32px;
}

.is-active + .edition {
	display: block;
	background: none;
	padding-bottom: 5px;
	a {
		color: $blanc;
		padding-left: 15px;
		padding-right: 15px;
	}
	a:hover{
		opacity: 0.5;
	}
}

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
.step { margin-right: 20px; }

.draw_add {
	a {
		color: $col3;
	}
	a:hover {
		opacity: 0.5;
	}
}

.hidden_field {
	display: none;
}

.tabs-panel {
	a {
		color: $blanc;
	}
	li {
		list-style: none;
	}
}

.lk_apercu i {
	padding-left: 15px;
}
.apercu {
	padding-left: 10px;
}
.close-apercu {
	font-size: 30px;
	display: none;
	span {
		color: $blanc;
		.btn-txt {
			font-size: 14px;
		}
	}
}
.close-apercu:hover {
	opacity: 0.5;
}
tr::after{
	border: 1px solid $blanc;
}

// ------------- Canvas ----------------

.progress-meter {
	p {
		margin-left: 10px;
	}
}

a.accordion-title {
	color: $blanc;
	font-size: 18px;
	background: #F0F0F0;
}
.accordion-item>a {
	color: #000;
}
.accordion>.is-active>a {
	color: #FFF;
}

.pdp_canvas {
	text-align: center;
}

// --------------- HELP ------------------

.help {
	a {
		color: $blanc;
		font-size: 28px;
	}
	.info {
		display: none;
		background: $blanc;
		opacity: 0.7;
		border-radius: 7px;
		p {
			color: #fff;
		}
	}
}

@media (max-width: 940px) {
	header {
		h1 {font-size: 14px !important;}
 	}
 	.bread_home{
		h4 {
			font-size: 16px !important;
			margin-left: 10px;
		}
	}
	.bread_title{
		h4 {font-size: 14px !important;}
	}
	.tabs.vertical>li>a{
		font-size: 16px !important;
	}
	td>a {
		font-size: 14px !important;
	}
	.step {
		margin-right: 0px;
	}
	.lk_apercu i {
		padding-left: 0px;
	}
	.enfant a {
		font-size: 1.7em;
	}

}
