// SCSS Style for SILO

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,100i,700');

// VARIABLES

$col1: #FF5B2B;
$col2: #B1221C;
$col3: #34393E;
$col4: #8CC6D7;
$col5: #FFDA8C;
$gris_pale: #F2F2F2;
$vert_silo: #7ED321;
$blanc: #FFFFFF;
$switch-background-active: #3adb76;

.row {
	max-width: 100%;
}

// GENERAL

.vertical-center {
	margin: auto;
	vertical-align: middle;
}

body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header{
	text-align: center;
  .top-bar {
    background: $col3;
    height: 70px;
    color: $col1;
    .form {
      background: lighten($col3, 0.8);
      box-shadow: 0px 1px 0px 0px $col4;
      font-size: 12px;
    }
		h1 {
			padding-top: 5px;
			color: $blanc;
			font-size: 1.7em;
		}
		h1:hover {
			opacity: 0.5;
		}
  }
}

.top-logo, .config-logo {
	filter: grayscale(100%);
}
.top-logo:hover, .config-logo:hover {
	filter: grayscale(0%);
}

.bandeau {
	text-align: center;
	width: 100%;
	background: $gris_pale;
	// url(/img/bandeau_music.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 50px 40px 50px;
}

.main_desk {
			display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    max-width: 1400px;
	    margin-left: auto;
	    margin-right: auto;
}

footer{
	text-align: center;
	margin-top:auto;
  background: $col3;
  height: 120px;
	padding: 30px 0 30px 0;
	p, a {
		color: $blanc;
	}
}

.row_desk1 {
	height: 30%;
}

.row_desk2 {
	height: 20%;
}

@mixin box {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 180px;
	min-width: 250px;
	margin: 20px;
	/*padding: 15px;*/
	border-radius: 5px;
	-webkit-box-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex:1 0 auto;
	a {
		color: $blanc;
		font-size: 2em;
		font-weight: 700;
	}
}

.box{
	@include box;
}
.box_add{
	@include box;
	background-color: $gris_pale;
	i {
		font-size: 3em;
	}
}

.draw_add {
	text-align: center;
	padding: 15px 0 15px 0;
	i {
		font-size: 3em;
	}
}

.enfant{
	text-align: center;
	margin: auto;
}

.box_buttons {
	width: 100%;
	margin-top:auto;
	text-align: center;
	i {
		padding: 0 5px 0 5px;
		font-size: 0.7em;
	}
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: green;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
	text-align: center;
}

p {
	font-weight: 300;
}

// -------- Préférences et Config Admin ------------

@mixin col {
	width: 20px;
	height: 20px;
	display: inline-block;
}

@mixin col_config {
	padding-left: 20px;
}

.col_config_1:hover, .col_config_2:hover, .col_config_3:hover {
	opacity: 0.5;
}

.col_config_1 {
	@include col_config;
	.col1 { @include col; background-color: $col1; }
	.col2 { @include col; background-color: $col2; }
	.col3 { @include col; background-color: $col3; }
	.col4 { @include col; background-color: $col4; }
	.col5 { @include col; background-color: $col5; }
}
.col_config_2 {
	@include col_config;
	.col1 { @include col; background-color: #FFF200; }
	.col2 { @include col; background-color: #E8860C; }
	.col3 { @include col; background-color: #FF0000; }
	.col4 { @include col; background-color: #780CE8; }
	.col5 { @include col; background-color: #0D8AFF; }
}
.col_config_3 {
	@include col_config;
	.col1 { @include col; background-color: #8AFF80; }
	.col2 { @include col; background-color: #E8D280; }
	.col3 { @include col; background-color: #FF9680; }
	.col4 { @include col; background-color: #BC80E8; }
	.col5 { @include col; background-color: #80D8FF; }
}

// ------------------  DRAW -------------------

#breadcrumb {
	background: $col4;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	a, h4 {
		color: $blanc;
	}
}

.bread_home {
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: $blanc;
}

.bread_home h4 {
	text-align: right;
	margin-right: 30px;
	margin-top: 8px;
}

.bread_title h4 {
	text-align: center;
	margin-top: 11px;
}
