<p>Bonjour <%= @email %>!</p>

<p>Pour confirmer votre compte, cliquez sur <%= link_to 'ce lien', confirmation_url(@resource, confirmation_token: @token) %></p>

<p><strong>Récapitulatif :</strong></p>

<p>Votre adresse email : <%= @email %></p>
<p>Votre espace personnel : <%= @resource.name %></p>