<div class="section_1">

</div>
<div class="bandeau section_2">
  <div class="row">
    <div class="medium-6 medium-offset-3">
      <img src="img/logo_silo.png" alt="Logo de Silo by artandteo" />
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-offset-3">
      <h2>Bienvenue</h2>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-offset-3">
      <h4>Silo est un container de stockage et de partage privé gratuit.</h4>
      <p>Silo a été conçu pour un partage simple rapide et efficace de vos données. Il a été spécialement étudié pour le domaine de l'éducation. Il permet aux élèves de consulter simplement et directement les documents de leur professeur. Il reste cependant ouvert à tout autres projets.</p>
    </div>
  </div>
	<br />
  <div class="row">
    <div class="medium-6 medium-offset-3">
      <a href="<%= new_user_registration_path %>"><button type="button" class="success button">Créez votre compte, c'est gratuit !</button></a>
    </div>
  </div>
  </div>
</div>
<div class="section_3">

</div>
