<!-- affichage des liens -->

	<div class="row">
		<div class="medium-12 columns">
			<div id="content_onglet" class="row collapse">
			  <div class="medium-3 columns">
			    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
			      <!--  <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">exemple</a></li>-->
			      <% @arr.each do |folder| %>
					<li class="tabs-title"><a href="#<%= folder %>"><%= folder %></a></li>
			      <% end %>
			      <li class="tabs-title"><a href="#nouveau_dossier">+</a></li>
			    </ul>
			  </div>

<!-- contenu des onglets -->

			    <div class="medium-9 columns">
			    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
			      <div class="tabs-panel is-active" id="panel1v">
			        <ul>
        					<li><a target="_blank" href=""><i class="fi-page-export-pdf size-36 step"></i>exemple PDF</a></li>
			        </ul>
			      </div>

			      <div class="tabs-panel" id="panel2v">
			        <ul>
                <li><a target="_blank" href=""><i class="fi-page-export-pdf size-36 step"></i>exemple PDF</a></li>
			        </ul>
			      </div>

			      <div class="tabs-panel" id="panel3v">
			        <ul>
			        	<li><a target="_blank" href=""><i class="fi-page-export-pdf size-36 step"></i>exemple PDF</a></li>
			        </ul>
			      </div>

			    </div>
			  </div>
		</div>
	</div>
	</div>
