  <div class="row">
    <div class="small-12 medium-6 medium-offset-3">
      <a href="#"><%= t('accueil.contact') %></a> - <a href="<%= mentions_path %>"><%= t('accueil.mentions_legales') %></a>
    </div>
    <div class="small-12 medium-6 medium-offset-3">
      <p>© 2017 Silo by ArtandTeo</p>
    </div>
  </div>
