
<div class="row">
  <div class="medium-6 medium-offset-3">
    <a href="#">contact</a> - <a href="#">mentions légales</a>
  </div>
  <div class="medium-6 medium-offset-3">
    <p>© 2017 Silo by artandteo</p>
  </div>
</div>
