
<div class="row top-bar">
  <div class="medium-1">
    <button type="button" class="menu-icon" data-toggle="offCanvas"></button>
  </div>
  <div class="medium-2">
    <a href="<%= root_path %>"><img class="top-logo" src="img/logo_silo_small.png" alt="Logo de Silo by artandteo" /></a>
  </div>
  <div class="medium-9">
    <% if user_signed_in? %>
    	Connecté en tant que <%= current_user.email %>
    	<%= link_to 'Déconnexion', destroy_user_session_path, method: "delete" %>
    <% else %>
    	<%= link_to 'Se connecter', new_user_session_path %>
    <% end %>
  </div>

</div>
